@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,500&family=Raleway:wght@300&display=swap');
/**
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*grids**/

.container-grid {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "header header header header"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background: #FF8008;
    background: linear-gradient(to left, #FFC837, #FF8008);
    padding: 1.5rem 1.0rem;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.0rem;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 1.0rem 1.0rem;
}

.navigation ul li a:hover {
    background-color: rgb(104, 109, 107);
}

/**main**/

/**footer**/

footer {
    grid-area: footer;
    background-color: antiquewhite;
    text-align: center;
    padding: 2rem 0;
}

.logof {
    width: 50px;
    height: 50px;
}

.logoi {
    width: 50px;
    height: 50px;
}

/**pages*/

/**productos*/

.productos-titulo{
    font-family: 'Raleway', sans-serif;
    padding: 0 0.5rem;
    font-size: 2.0rem;
}
.productos-titulo::first-letter{
    color: #FF8008;
    font-size: 2.5rem;
}

/**preguntasfrecuentes*/

.preguntas-titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 2.0rem;
    padding: 1.0rem 0.5rem;
}
.preguntas-titulo::first-letter{
    color: #FF8008;
    font-size: 2.5rem;
}
.container-preguntas{
    padding: 0.8rem 0.5rem;
}
.preguntas{ 
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    padding: 1.2rem 0rem;
    text-decoration:underline
}

/**contacto*/

.titulo-formulario {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
}

.formulario {
    display: flex;
    justify-content: center;
}

/**acerca**/
.acerca-titulo {
    font-family: 'Raleway', sans-serif;
    padding: 1.0rem 0.5rem;
}

.acerca-titulo::first-letter {
    color: #FF8008;
    font-size: 2.5rem;
}
.acerca-texto{
    padding: 1.0rem 0.8rem;
}

/*tablet***/

@media (max-width: 768px) {

    .container-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header header"
            "main main"
            "main main"
            "footer footer"
        ;
    }
}

/**mobile*/

@media (max-width:576px) {

    .container-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header"
            "main"
            "main"
            "footer"
        ;
    }
}