@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,500&family=Raleway:wght@300&display=swap');
/**
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**header*/
header {
    background-color: rgb(253, 181, 93);
    padding: 1.5rem 1.0rem;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.0rem;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 1.0rem 1.0rem;
}

.navigation ul li a:hover {
    background-color: rgb(104, 109, 107);
}

/**footer*/
footer {
    background-color: antiquewhite;
    text-align: center;
    padding: 2rem 0;
}
.logof {
    width: 50px;
    height: 50px;
}
.logoi {
    width: 50px;
    height: 50px;
}

/**preguntas*/
.preguntas {
    color: rgb(236, 216, 32);
}

/**formulario*/
.titulo-formulario {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
}

.formulario {
    display: flex;
    justify-content: center;
}


/*grids**/

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "box-1 box-1"
        "box-1 box-1"
        "box-2 box-2"
    ;
}

.box-1 {
    background-color: lightblue;
    grid-area: box-1;
}

.box-2 {
    background-color: rgb(230, 204, 173);
    grid-area: box-2;
}

/*tablet***/
@media (max-width: 768px) {

    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "box-1 box-1"
            "box-1 box-1"
            "box-1 box-1"
            "box-2 box-2"
        ;
    }
}

/**mobile*/
@media (max-width:576px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "box-1"
            "box-1"
            "box-1"
            "box-2"
        ;
    }
}